---
import { TypographyP } from "@components/typography";
import { LocationFilter } from "./location-filter";
import { REGIONS, PROJECT_STATUS, PROJECT_TYPES } from "@constants/index";
import { MatchSorterSearch } from "../match-sorter-search";
import { getSlug } from "@lib/utils";
import { LocationFilterOptions } from "./location-filter-options";

export const FILTER_ITEMS = [
  {
    name: "Region",
    slug: "region",
    items: REGIONS,
  },
  {
    name: "Status",
    slug: "projectStatus",
    items: PROJECT_STATUS,
  },
  {
    name: "Type",
    slug: "projectType",
    items: PROJECT_TYPES,
  },
];

interface LocationSidebarProps {
  allLocations: any[];
  setClickCount: (el: number) => void;
  view: "card" | "table";
  setView: (e: "card" | "table") => void;
}

const { allLocations, setClickCount, view, setView } =
  Astro.props as LocationSidebarProps;
---

<div class='sidebar hidden lg:block w-[222px] mr-12'>
  <!-- <LocationFilterOptions client:only='react' /> -->
  <div>
    <div class='flex flex-row justify-between space-x-4'>
      <TypographyP className='font-semibold text-sm'>Find Location</TypographyP>
    </div>
    <MatchSorterSearch
      client:only='react'
      placeholder={"Search..."}
      directories={allLocations?.map((location) => ({
        title: location?.data?.title,
        route: `/locations/${getSlug(location?.data?.region)}/${
          location?.slug
        }`,
      }))}
    />
  </div>
  <div class='my-4'></div>
  <div class='divide-y-2 divide-primaryLightBorder'>
    <div></div>
    {
      FILTER_ITEMS.map((item) => (
        <div class='py-3'>
          <LocationFilter
            client:only='react'
            title={item.name}
            items={item?.items}
            slug={item?.slug}
            setClickCount={setClickCount}
          />
        </div>
      ))
    }
  </div>
</div>
