---
import RootLayout from "@layouts/root.astro";
import { ProgressTable } from "@components/progress-table";
import PageHeader from "@components/page-header.astro";
import ContainerBorder from "@components/container-border.astro";
import { getCollection } from "astro:content";
import { TypographyH1, TypographyP } from "@components/typography";
import { Button } from "@components/ui/button";
import { getEntry } from "astro:content";
import bannerImage from "../assets/pages/progress/banner.png";

const pageData = await getEntry("pages", "progress");
const locations = await getCollection("locations");

const tabledata = locations?.map(
  ({ data: { region, projectStatus, projectType, title } }) => ({
    region,
    projectStatus,
    projectType,
    title,
  })
);

const calcCompletionPercentage = (
  completedLevel: number,
  inProgressLevel: number,
  notStartedLevel: number
) => {
  return Math.ceil(
    ((completedLevel + inProgressLevel / 2) /
      (completedLevel + inProgressLevel + notStartedLevel)) *
      100
  );
};

const numComplete = locations.filter(
  (x) => x?.data?.projectStatus === "Completed"
)?.length;

const numInProgress =
  locations.filter((x) => x?.data?.projectStatus === "In Progress")?.length +
  locations.filter((x) => x?.data?.projectStatus === "Redo In Progress")
    ?.length;

const numNotStarted =
  locations.filter((x) => x?.data?.projectStatus === "Not Started")?.length +
  locations.filter((x) => x?.data?.projectStatus === "Abandoned")?.length;

const percentageComplete = calcCompletionPercentage(
  numComplete,
  numInProgress,
  numNotStarted
);
---

<RootLayout title={pageData?.data?.heading || "Project Progress"}>
  <PageHeader
    title={pageData?.data?.heading || "Project Progress"}
    copy={pageData?.data?.subheading ||
      "Check in and see how far along the project is as we categorize, list and track all available projects across WesterosCraft"}
    bannerUrl={bannerImage}
  />
  <div class='w-full bg-primaryDark'>
    <ContainerBorder
      variant='dark'
      className='py-24 sm:py-32 px-4 text-white text-center'
    >
      <div>
        <TypographyH1>
          Westeros is an estimated
          <span class='text-7xl mx-1 text-primaryGold'>
            {`${percentageComplete}%`}
          </span>
           complete
        </TypographyH1>
      </div>
      <div
        class='flex flex-col sm:flex-row mx-auto mt-14 divide-y-2 sm:divide-y-0 sm:divide-x-2'
      >
        <div class='py-4 sm:px-6'>
          <TypographyH1>{locations?.length}</TypographyH1>
          <p>Total Projects</p>
        </div>
        <div class='py-4 sm:px-6'>
          <TypographyH1>{numComplete}</TypographyH1>
          <p>Completed</p>
        </div>
        <div class='py-4 sm:px-6'>
          <TypographyH1>{numInProgress}</TypographyH1>
          <p>In Progress</p>
        </div>
        <div class='py-4 sm:px-6'>
          <TypographyH1>{numNotStarted}</TypographyH1>
          <p>Not Started</p>
        </div>
      </div>
    </ContainerBorder>
  </div>

  <ContainerBorder borderBottom className='py-24 sm:py-32 px-4'>
    <ProgressTable client:load data={tabledata} />
  </ContainerBorder>
  <ContainerBorder className='text-center py-24 sm:py-32 px-4'>
    <TypographyH1>
      {pageData?.data?.cta?.heading || "Check out the progress in game!"}
    </TypographyH1>
    <TypographyP className='max-w-2xl mx-auto text-xl mt-4'>
      {
        pageData?.data?.cta?.subheading ||
          `Westeros is home to over 500 cities, castles, and landmarks. Our goal is
      to construct them all. With over 300 completed so far, our community is
      well on our way to having a fully explorable map.`
      }
    </TypographyP>
    <div class='mt-8'>
      <a href='/join'>
        <Button
          size='lg'
          className='rounded-none text-lg bg-primaryRed text-white hover:bg-primaryRed/95'
        >
          {pageData?.data?.cta?.link?.linkText || `Join the Server`}
        </Button>
      </a>
    </div>
  </ContainerBorder>
</RootLayout>
