---
import RootLayout from "@layouts/root.astro";
import ContainerBorder from "@components/container-border.astro";
import { TypographyH2, TypographyH4 } from "@components/typography";
import { Button } from "@components/ui/button";
import PageHeader from "@components/page-header.astro";
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import bannerImage from "../assets/pages/rookery/banner.png";

const pageData = await getEntry("pages", "rookery");

const thumbnails = import.meta.glob(
  "../assets/pages/rookery/thumbnails/editions/**/*"
);

const latestEdition =
  pageData?.data?.editions?.find((x) => x?.isLatest) ||
  pageData?.data?.editions?.[0];
---

<RootLayout title='The Rookery'>
  <div class='flex flex-col w-full'>
    <PageHeader
      title={pageData?.data?.heading || "The Rookery"}
      copy={pageData?.data?.subheading ||
        "The Rookery is a community created magazine that details all the latest happenings in the realm of WesterosCraft. Check in to keep up to date with the server! Sent once a quarter."}
      bannerUrl={bannerImage}
    />

    <div class='w-full bg-primaryDark'>
      <ContainerBorder variant='dark' className='py-24 sm:py-32 px-4'>
        <div class='flex justify-center items-center w-full max-w-5xl mx-auto'>
          <div class='grid grid-cols-1 md:grid-cols-2 gap-y-12 md:gap-y-0'>
            <Image
              width={512}
              height={650}
              src={thumbnails[
                `../assets/pages/rookery/thumbnails/${latestEdition?.thumbnail}`
              ]()}
              alt={latestEdition?.title?.name || "Latest Rookery Edition"}
            />
            <div
              class='flex flex-col gap-10 justify-center items-center text-white'
            >
              <div class='text-center'>
                <TypographyH2>Latest Edition</TypographyH2>
                <TypographyH4 className='mt-4'>
                  {latestEdition?.title?.name || "Latest Rookery Edition"}
                </TypographyH4>
              </div>
              <div>
                <a
                  href={latestEdition?.link?.url}
                  target='_blank'
                  rel='noreferrer'
                >
                  <Button
                    size='lg'
                    className='bg-white text-primaryDark font-semibold rounded-none text-md hover:bg-primaryRed hover:text-white'
                  >
                    Read It
                  </Button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ContainerBorder>
    </div>
    <ContainerBorder className='pt-14 pb-8 px-4 border border-b'>
      <div class='flex flex-col justify-center items-center'>
        <TypographyH2>Past Editions</TypographyH2>
      </div>
    </ContainerBorder>
    <div>
      <ContainerBorder className='py-16 sm:py-20 px-4 items-center'>
        <div class='grid gap-y-12 gap-x-6 grid-cols-2 lg:grid-cols-3 w-full'>
          {
            pageData?.data?.editions?.reverse()?.map((edition: any) => (
              <div class='flex flex-col gap-3 items-center justify-center'>
                <Image
                  width={336}
                  height={435}
                  src={thumbnails[
                    `../assets/pages/rookery/thumbnails/${edition?.thumbnail}`
                  ]()}
                  alt={edition?.title?.name || "Rookery edition"}
                />
                <div class='flex max-w-[336px] flex-row w-full justify-between'>
                  <TypographyH4>{edition?.title?.name}</TypographyH4>
                  <a
                    class='font-medium underline decoration-primaryRed underline-offset-4'
                    href={edition?.link?.url || ""}
                    target='_blank'
                  >
                    Read Edition
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </ContainerBorder>
    </div>
  </div>
</RootLayout>
