---
import { getCollection } from "astro:content";
import LocationLayout from "@layouts/location.astro";
import { slugify, camel2title, urlBuilder } from "@lib/utils";
import ProjectDetailsCard from "@components/project-details-card.astro";
import Prose from "@components/prose.astro";
import BackToLocationsLink from "@components/back-to-locations-link.astro";
import Carousel from "@components/home/carousel";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const locations = await getCollection("locations");

  return locations.map((location) => {
    return {
      params: {
        region: slugify(camel2title(location.data.region)),
        slug: location.slug,
      },
      props: {
        location: { ...location },
      },
    };
  });
}

interface Props {
  location: CollectionEntry<"locations">;
}

const { location } = Astro.props;

const { Content } = await location?.render();
---

<LocationLayout
  title={`${location?.data?.title} - WesterosCraft`}
  ogTitle={`${location?.data?.title} - WesterosCraft`}
  description={location?.data?.description}
  twitterDescription={location?.data?.description}
  ogImage={location?.data?.locationImages?.[0]?.src}
>
  <BackToLocationsLink slot='back-to-locations' />
  {
    location?.data && (
      <ProjectDetailsCard
        slot='location-details'
        projectDetails={location?.data}
        slug={location.slug}
      />
    )
  }
  <Fragment slot='location-image'>
    <div class='mb-6'>
      <Carousel
        showDots
        slides={location?.data?.locationImages?.map((img) => ({
          image: urlBuilder(img.src, {
            format: "webp",
            height: 432,
            fit: "cover",
          }),
          originalUrl: img?.src,
        }))}
        client:load
        slideHeight={432}
        linkImageExternally
      />
    </div>
  </Fragment>
  <Fragment slot='location-content'>
    {
      Content && (
        <div class='pb-12 break-words'>
          <Prose>
            <Content />
          </Prose>
        </div>
      )
    }
  </Fragment>
</LocationLayout>
