---
import WikiCard from "@components/wiki/wiki-card.astro";
import WikiLayout from "@layouts/wiki.astro";
import { slugify, titleizeASlug, camel2title } from "@lib/utils";
import { getCollection } from "astro:content";
import { REGIONS, regions } from "@constants/index";

export async function getStaticPaths() {
  return REGIONS.map((region) => {
    return {
      params: {
        region: slugify(camel2title(region.value)),
      },
      props: {
        region: slugify(camel2title(region.value)),
      },
    };
  });
}

const { region: pageRegion } = Astro.props;

const filteredLocations = await getCollection(
  "locations",
  ({ data: { region } }) => {
    return slugify(camel2title(region)) === pageRegion;
  }
);

const icon = regions.find((x) => pageRegion === slugify(x.name));
---

<WikiLayout title={titleizeASlug(pageRegion)}>
  <div class='flex flex-row gap-6 not-prose mb-8'>
    {
      icon && (
        <img
          class='not-prose w-16 h-16'
          src={icon.icon.src}
          alt={icon.icon.alt}
        />
      )
    }
    <div>
      <h1 class='text-4xl'>{titleizeASlug(pageRegion)}</h1>
      <p class='mt-2'>{icon?.description}</p>
    </div>
  </div>

  <div class='grid grid-cols-1 sm:grid-cols-2 gap-6 not-prose'>
    {
      filteredLocations.map((i) => (
        <a href={`/locations/${slugify(pageRegion)}/${i.slug}`}>
          <WikiCard title={i.data.title}>{i.data.title}</WikiCard>
        </a>
      ))
    }
  </div>
</WikiLayout>
