---
import { TypographyH2, TypographyP } from "@components/typography";
import { Button } from "@components/ui/button";
import { Image } from "astro:assets";
import { ArrowRight } from "lucide-react";

const { data } = Astro.props;

const images = import.meta.glob(
  "../../assets/pages/home/featuredLocations/imageGrid/*"
);
---

<>
  <div class='max-w-md'>
    <div>
      <TypographyH2>
        Over <span class='text-primaryRed'>400 locations</span> to discover
      </TypographyH2>
    </div>

    <div>
      <TypographyP>
        {data?.description}
      </TypographyP>
    </div>

    <div class='mt-12'>
      {
        data?.links?.map((link) => (
          <div class='pt-4 border-t-[1px] border-primaryLightBorder/60'>
            <TypographyP className='font-semibold'>
              {link.linkAltText}
            </TypographyP>
            <TypographyP className='text-sm !mt-2'>
              {link.linkDescription}
            </TypographyP>
            <div class='flex mt-3 mb-2 justify-end sm:justify-start'>
              <a href={link?.isExternal?.value}>
                <Button
                  variant='link'
                  className='p-0 text-primaryRed hover:text-red-800 hover:fill-red-800'
                  disabled={!link.linkText}
                >
                  {link.linkText || "Read More"}
                  <ArrowRight size='18' />
                </Button>
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class='grid grid-cols-2 gap-4 sm:gap-6 lg:gap-8'>
    {
      data?.imageGrid?.map((image) => (
        <div>
          <Image
            width={355}
            height={355}
            src={images[`../../assets/pages/home/${image}`]()}
            alt='An image from a build on WesterosCraft'
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
</>
