---
import { TypographyH2, TypographyP } from "@components/typography";
import { Image } from "astro:assets";
const { data } = Astro.props;

import targImage from "../../assets/pages/home/featuredServers/targImage.webp";
import barathImage from "../../assets/pages/home/featuredServers/baratheonImage.webp";
const images = import.meta.glob(
  "../../assets/pages/home/featuredServers/items/*/*"
);
---

<div class='ml-0 2xl:-ml-32 min-w-auto xl:min-w-[750px]'>
  <div class='flex justify-center items-center'>
    <div class='self-end mb-14'>
      <Image width={312} height={386} src={barathImage} alt='Baratheon' />
    </div>

    <div class='self-end'>
      <Image width={312} height={386} src={targImage} alt='Targaryen' />
    </div>
  </div>
</div>
<div>
  <div>
    <TypographyH2 className='text-center lg:text-left text-primaryGold'>
      {data?.heading || "Join The Community"}
    </TypographyH2>
  </div>
  <div
    class='flex flex-col max-w-xl justify-center items-center mt-2 mx-auto text-white divide-y'
  >
    {
      data?.items?.map((server) => (
        <div class='w-full py-4'>
          <div class='flex flex-col sm:flex-row items-center sm:items-start gap-4'>
            <Image
              width={50}
              height={50}
              src={images[`../../assets/pages/home/${server.icon}`]()}
              alt='Coin'
            />
            <div class='flex items-center sm:items-start gap-6'>
              <div class='flex flex-col items-center sm:items-start text-center sm:text-left gap-1'>
                <TypographyP className='font-medium text-2xl'>
                  {server?.subheading || ""}
                </TypographyP>

                <p class='leading-7 mt-2'>{server?.description || ""}</p>
                <div class='flex flex-row justify-center sm:justify-start w-full gap-4 pt-6 mb-4'>
                  {server?.links?.map((link) => (
                    <a
                      href={link?.isExternal?.value}
                      target={
                        link?.isExternal?.discriminant ? "_blank" : undefined
                      }
                      class='underline decoration-primaryRed underline-offset-4 hover:decoration-white'
                    >
                      {link?.linkText}
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
