---
import { motion } from "framer-motion";
import { Image } from "astro:assets";
import { Button } from "@components/ui/button";
import { TypographyH1, TypographyH4 } from "@components/typography";

const {
  data: { heroImage, heading, highlighted, subheading, buttons },
} = Astro.props;
---

<div
  class='flex w-full h-[580px] color-white flex-wrap relative overflow-hidden'
>
  <div class='w-[40%] h-[580px] p-20'>
    <TypographyH1>
      {heading + " "}<span class='text-primaryRed'>{highlighted}</span>
    </TypographyH1>
  </div>
  <div class='w-[60%] h-[580px]'>
    <Image
      alt='kl'
      src={"../../src/assets/pages/home/" + heroImage}
      width={1920}
      height={750}
      sizes='60vw'
      class='object-cover w-full h-full'
    />
  </div>
</div>

<!-- <div
  class='h-[550px] sm:h-[600px] md:h-[750px] relative w-full flex flex-col justify-center items-end lg:items-center pb-14 lg:pb-0 bg-primaryDark'
>
  <div
    class='flex flex-col z-10 items-start justify-center absolute left-auto top-auto right-0 bottom-[60px] sm:bottom-auto w-[95%] sm:w-[92%] lg:w-[43%] h-auto lg:h-[400px] bg-primaryLight/80 p-5 sm:p-8 !pl-10 border-primaryDark border-2'
  >
    <motion.div
      client:load
      initial={{ opacity: 0, y: 10 }}
      whileInView={{ opacity: 1, y: 0 }}
      viewport={{ once: true }}
      transition={{ delay: 0.3 }}
      className='max-w-lg !leading-7'
    >
      <TypographyH1>
        {heading + " "}
        <span class='text-primaryRed'>{highlighted}</span>
      </TypographyH1>
      <hr class='border-primaryDark hidden sm:block mt-6 w-full' />
    </motion.div>
    <motion.div
      client:load
      initial={{ opacity: 0, y: 10 }}
      whileInView={{ opacity: 1, y: 0 }}
      viewport={{ once: true }}
      transition={{ delay: 0.5 }}
    >
      <TypographyH4 className='mt-4 w-full'>
        {subheading}
      </TypographyH4>

      <div class='flex flex-col sm:flex-row mt-4 sm:mt-8 gap-4'>
        {
          buttons.map((butt: any) =>
            butt.buttonType === "primary" ? (
              <a href={butt.isExternal.value}>
                <Button
                  size='lg'
                  className='rounded-none bg-black text-white hover:bg-black/80 text-lg'
                >
                  {butt.buttonText}
                </Button>
              </a>
            ) : (
              <a href={butt.isExternal.value}>
                <Button
                  size='lg'
                  variant='outline'
                  className='rounded-none bg-primaryLight text-lg hover:bg-primaryRed hover:text-white'
                >
                  {butt.buttonText}
                </Button>
              </a>
            )
          )
        }
      </div>
    </motion.div>
  </div>
  <div class='h-full w-full'>
    <Image
      alt='kl'
      src={"../../src/assets/pages/home/" + heroImage}
      width={1920}
      height={750}
      sizes='80vw'
      class='object-cover w-full h-[50%] md:h-[75%] lg:h-full'
    />
  </div>
</div> -->
