---
import { motion } from "framer-motion";
import { Image } from "astro:assets";
import { Button } from "@components/ui/button";
import { TypographyH1, TypographyH4 } from "@components/typography";

const {
  data: { heroImage, heading, highlighted, subheading, buttons },
} = Astro.props;
---

<div
  class='mx-auto w-full max-w-[1440px] px-4 md:px-[34px] relative mb-[75px] mt-11 flex min-h-[100vh] flex-col-reverse lg:h-[min(880px,max(630px,76vh))] lg:min-h-0 lg:flex-row'
>
  <div
    class='right-0 bg-primary-50 relative bottom-[26%] mx-auto mt-7 w-full max-w-[450px] border-2 border-black p-1 md:mt-14 md:max-w-[550px] lg:absolute lg:mt-0 lg:w-[38vw] lg:max-w-[725px] xl:w-[45vw] !-z-30 hidden lg:block'
  >
    <div
      class='rounded-4xl border-primary-700 font-system flex flex-col border-2 lg:flex-row'
    >
      <Image
        alt='kl'
        src={"../../src/assets/pages/home/" + heroImage}
        width={1920}
        height={750}
        sizes='60vw'
        class='object-cover w-full h-full'
      />
    </div>
  </div>
  <div class='pb-6'></div>

  <div class='mb-8 inline-block w-full self-end lg:mb-0'>
    <a
      class='mb-5 flex w-max gap-x-2 rounded-full bg-black/5 p-1 pr-2 text-sm hover:bg-black/10'
      href='/blog/v-3-3'
      ><span
        class='rounded-full bg-black px-2 py-0.5 text-xs uppercase text-white'
        >NEW</span
      > We hit version 1.18.2!</a
    ><div class='flex flex-col-reverse lg:block'>
      <p
        class='mb-6 mt-5 text-[22px] md:max-w-[320px] lg:max-w-[430px] xl:max-w-[560px]'
      >
        Explore a meticulously crafted virtual realm inspired by George R.R.
        Martin's epic fantasy world. From King's Landing to Winterfell, our
        immersive Minecraft server offers a stunning, player-driven recreation
        of the Seven Kingdoms.
      </p><h1
        class='text-black font-bold leading-[100%] md:!leading-xl text-[40px] tracking-[-0.002em] md:text-[75px] lg:text-[79px] xl:text-[114px] text-shadow-gray !text-[clamp(52px,_7.45vw,_106px)] xl:text-[clamp(52px,_7.8vw,_106px)]'
      >
        <span
          class='font-esmeralda'
          style='display: inline-block; vertical-align: top; text-decoration: inherit; text-wrap: balance;'
          >Explore <br />the world of<br />
          <span class='text-border-black text-shadow-black text-primaryRed'
            >Westeros inside Minecraft<span>.</span></span
          ></span
        ><script>
          self.__wrap_n != 1 && self.__wrap_b(":r6:", 1);
        </script>
      </h1>
    </div>
  </div>
</div>

<!-- <div
  class='flex w-full h-[580px] color-white flex-wrap relative overflow-hidden'
>
  <div class='w-[40%] h-[580px] p-20'>
    <TypographyH1>
      {heading + " "}<span class='text-primaryRed'>{highlighted}</span>
    </TypographyH1>
  </div>
  <div class='w-[60%] h-[580px]'>
    <Image
      alt='kl'
      src={"../../src/assets/pages/home/" + heroImage}
      width={1920}
      height={750}
      sizes='60vw'
      class='object-cover w-full h-full'
    />
  </div>
</div> -->

<!-- <div
  class='h-[550px] sm:h-[600px] md:h-[750px] relative w-full flex flex-col justify-center items-end lg:items-center pb-14 lg:pb-0 bg-primaryDark'
>
  <div
    class='flex flex-col z-10 items-start justify-center absolute left-auto top-auto right-0 bottom-[60px] sm:bottom-auto w-[95%] sm:w-[92%] lg:w-[43%] h-auto lg:h-[400px] bg-primaryLight/80 p-5 sm:p-8 !pl-10 border-primaryDark border-2'
  >
    <motion.div
      client:load
      initial={{ opacity: 0, y: 10 }}
      whileInView={{ opacity: 1, y: 0 }}
      viewport={{ once: true }}
      transition={{ delay: 0.3 }}
      className='max-w-lg !leading-7'
    >
      <TypographyH1>
        {heading + " "}
        <span class='text-primaryRed'>{highlighted}</span>
      </TypographyH1>
      <hr class='border-primaryDark hidden sm:block mt-6 w-full' />
    </motion.div>
    <motion.div
      client:load
      initial={{ opacity: 0, y: 10 }}
      whileInView={{ opacity: 1, y: 0 }}
      viewport={{ once: true }}
      transition={{ delay: 0.5 }}
    >
      <TypographyH4 className='mt-4 w-full'>
        {subheading}
      </TypographyH4>

      <div class='flex flex-col sm:flex-row mt-4 sm:mt-8 gap-4'>
        {
          buttons.map((butt: any) =>
            butt.buttonType === "primary" ? (
              <a href={butt.isExternal.value}>
                <Button
                  size='lg'
                  className='rounded-none bg-black text-white hover:bg-black/80 text-lg'
                >
                  {butt.buttonText}
                </Button>
              </a>
            ) : (
              <a href={butt.isExternal.value}>
                <Button
                  size='lg'
                  variant='outline'
                  className='rounded-none bg-primaryLight text-lg hover:bg-primaryRed hover:text-white'
                >
                  {butt.buttonText}
                </Button>
              </a>
            )
          )
        }
      </div>
    </motion.div>
  </div>
  <div class='h-full w-full'>
    <Image
      alt='kl'
      src={"../../src/assets/pages/home/" + heroImage}
      width={1920}
      height={750}
      sizes='80vw'
      class='object-cover w-full h-[50%] md:h-[75%] lg:h-full'
    />
  </div>
</div> -->
