---
import WikiLayout from "@layouts/wiki.astro";
import { getCollection } from "astro:content";
import { slugify, camel2title } from "@lib/utils";
import ProjectDetailsCard from "@components/project-details-card.astro";
import TableOfContents from "@components/table-of-contents.astro";
import MobileProjectDetailsCard from "@components/mobile-project-details-card.astro";

// interface Props extends Location {}

export async function getStaticPaths() {
  const locations = await getCollection("locations");

  return locations.map((location) => {
    return {
      params: {
        region: slugify(camel2title(location.data.region)),
        slug: location.slug,
      },
      props: {
        location: { ...location },
      },
    };
  });
}

const { location } = Astro.props;
const { Content, headings } = await location?.render();
---

<WikiLayout title={location?.data.title}>
  {
    headings && headings?.length ? (
      <TableOfContents slot='toc' toc={headings} style='pb-4' />
    ) : null
  }
  <ProjectDetailsCard
    slot='project-details'
    projectDetails={location.data}
    style={headings && headings?.length && "pt-4"}
  />
  <h1>{location?.data.title}</h1>
  <MobileProjectDetailsCard projectDetails={location.data} />
  {Content && <Content />}
</WikiLayout>
