---
import WikiCard from "@components/wiki/wiki-card.astro";
import WikiLayout from "@layouts/wiki.astro";
import { slugify, titleize } from "@lib/utils";
import { getCollection } from "astro:content";
import { regions } from "@constants/index";

export async function getStaticPaths() {
  const regions = [
    "Dorne",
    "The Wall",
    "North",
    "Vale",
    "Iron Islands",
    "Westerlands",
    "Crownlands",
    "Riverlands",
    "Stormlands",
    "Reach",
    "Beyond The Wall",
  ];

  return regions.map((region) => {
    return {
      params: {
        region: slugify(region),
      },
      props: {
        region: slugify(region),
      },
    };
  });
}

const { region: pageRegion } = Astro.props;

const filteredLocations = await getCollection(
  "locations",
  ({ data: { region } }) => {
    return region === pageRegion;
  }
);

const icon = regions.find((x) => pageRegion === slugify(x.name));
---

<WikiLayout title={titleize(pageRegion)}>
  <div class="flex flex-row gap-6 not-prose mb-8">
    {
      icon && (
        <img
          class="not-prose w-16 h-16"
          src={icon.icon.src}
          alt={icon.icon.alt}
        />
      )
    }
    <div>
      <h1 class="text-4xl">{titleize(pageRegion)}</h1>
      <p class="mt-2">{icon?.description}</p>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 not-prose">
    {
      filteredLocations.map((i) => (
        <a href={`/wiki/locations/${slugify(pageRegion)}/${i.slug}`}>
          <WikiCard title={i.data.title}>{i.data.title}</WikiCard>
        </a>
      ))
    }
  </div>
</WikiLayout>
