---
import RootLayout from "@layouts/root.astro";
import { getCollection } from "astro:content";
import { Button } from "@components/ui/button";
import { LocationContent } from "@components/location/location-content";
import { filterLocationsBySearchParam } from "@lib/utils";
import { TypographyH1, TypographyP } from "@components/typography";

const locations = await getCollection("locations");

const { title, description, ogTitle, ogType, ogImage, ogUrl } =
  Astro.props.frontmatter || Astro.props;

const query = Astro.url.searchParams;

const filteredLocations = filterLocationsBySearchParam(locations, query);
---

<RootLayout
  title={title}
  description={description}
  ogTitle={ogTitle}
  ogType={ogType}
  ogImage={ogImage}
  ogUrl={ogUrl}
  includeTransitions
>
  <div
    class='max-w-8xl mx-auto sm:px-2 lg:px-8 xl:px-12 w-full flex flex-col flex-grow mb-28'
  >
    <div class='mt-20 mb-20 mx-auto text-center px-4'>
      <h1
        class='text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl'
      >
        Locations
      </h1>
      <p class='mt-6 max-w-2xl text-xl text-gray-800'>
        Discover the iconic locations of Westeros from the <i
          >A Song of Ice and Fire</i
        > series, built from scratch in Minecraft. With over 450 planned or
        in-progress builds on our server, we've kept track of them all here!
      </p>
      <div class='mt-8'>
        <a href='/join'>
          <Button className='mr-6 font-semibold tracking-wider' size='lg'>
            See Progress
          </Button>
        </a>
        <a href='http://mc.westeroscraft.com/' target='_blank'>
          <Button
            variant='outline-red'
            size='lg'
            className='font-semibold tracking-wider'
          >
            View Map
          </Button>
        </a>
      </div>
    </div>
    <div class='flex w-full'>
      <!-- <LocationWrapper /> -->
      <LocationContent
        client:only='react'
        allLocations={locations}
        filteredLocations={filteredLocations}
      />
    </div>
  </div>
  <div class='text-center pb-12 sm:pb-16 px-4'>
    <TypographyH1>
      {"Check out the progress in game!"}
    </TypographyH1>
    <TypographyP className='max-w-2xl mx-auto text-xl mt-4'>
      {
        `Westeros is home to over 500 cities, castles, and landmarks. Our goal is
      to construct them all. With over 300 completed so far, our community is
      well on our way to having a fully explorable map.`
      }
    </TypographyP>
    <div class='mt-8'>
      <a href='/join'>
        <Button
          size='lg'
          className='rounded-none text-lg bg-primaryRed text-white hover:bg-primaryRed/95'
        >
          {`Join the Server`}
        </Button>
      </a>
    </div>
  </div>
</RootLayout>
