---
import RootLayout from "@layouts/root.astro";
import { getCollection } from "astro:content";
import { Button } from "@components/ui/button";
import { LocationContent } from "@components/location/location-content";

const locations = await getCollection("locations");

const { title, description, ogTitle, ogType, ogImage, ogUrl } =
  Astro.props.frontmatter || Astro.props;

const query = Astro.url.searchParams;

const filteredLocations = locations.filter((location) => {
  const queryRegion = query
    .getAll("region")
    .map((region) => region.toLowerCase());

  const queryStatus = query
    .getAll("status")
    .map((status) => status.toLowerCase());

  const queryType = query.getAll("type").map((type) => type.toLowerCase());

  // Filter based on the "region" parameter
  if (queryRegion.length > 0) {
    if (!queryRegion.includes(location.data?.region?.toLowerCase())) {
      return false;
    }
  }

  // Filter based on the "status" parameter
  if (queryStatus.length > 0) {
    if (!queryStatus.includes(location.data?.projectStatus?.toLowerCase())) {
      return false;
    }
  }

  // Filter based on the "type" parameter
  if (queryType.length > 0) {
    if (!queryType.includes(location.data?.projectType?.toLowerCase())) {
      return false;
    }
  }

  return true; // Include the location if it matches all filters
});
---

<RootLayout
  title={title}
  description={description}
  ogTitle={ogTitle}
  ogType={ogType}
  ogImage={ogImage}
  ogUrl={ogUrl}
>
  <div
    class='max-w-8xl mx-auto sm:px-2 lg:px-8 xl:px-12 w-full flex flex-col flex-grow mb-28'
  >
    <div class='mt-20 mb-20 mx-auto text-center'>
      <h1
        class='text-4xl font-extrabold tracking-tight md:text-5xl lg:text-6xl'
      >
        Locations
      </h1>
      <p class='mt-6 max-w-2xl text-xl text-gray-800'>
        Discover the iconic locations of Westeros from the <i
          >A Song of Ice and Fire</i
        > series, built from scratch in Minecraft. With over 450 planned or
        in-progress builds on our server, we've kept track of them all here!
      </p>
      <div class='mt-8'>
        <a href='/progress'>
          <Button className='mr-6'>See Progress</Button>
        </a>
        <a href='http://mc.westeroscraft.com/' target='_blank'>
          <Button variant='outline'>View Map</Button>
        </a>
      </div>
    </div>
    <div class='flex w-full'>
      <LocationContent
        client:only='react'
        allLocations={locations}
        filteredLocations={filteredLocations}
      />
    </div>
  </div>
</RootLayout>
