---
import { slugify } from "@lib/utils";
import WikiCard from "@components/wiki/wiki-card.astro";
import WikiLayout from "@layouts/wiki.astro";
import Sunspear from "@assets/icons/sunspear96.png";
import Nightswatch from "@assets/icons/nightswatch96.png";
import Winterfell from "@assets/icons/winterfell96.png";
import Eyrie from "@assets/icons/eyrie96.png";
import Pyke from "@assets/icons/pyke96.png";
import Highgarden from "@assets/icons/highgarden96.png";
import CasterlyRock from "@assets/icons/casterlyrock96.png";
import SummerHall from "@assets/icons/summerhall96.png";
import TheTwins from "@assets/icons/thetwins96.png";
import Dragonstone from "@assets/icons/dragonstone96.png";
import RedKeep from "@assets/icons/redkeep96.png";

const featured = [
  {
    name: "Install the modpack",
    description: "Get to exploring Westeros easy and fast",
  },
  {
    name: "Apply to build",
    description: "Get started on an application to help contribute",
  },
];

const regions = [
  {
    name: "Dorne",
    description: "Southernmost area of Westeros",
    icon: {
      src: Sunspear.src,
      width: 32,
      height: 32,
      alt: "Sunspear icon",
    },
  },
  {
    name: "The Wall",
    description:
      "A huge structure of stone, ice, and magic on the northern border of Westeros",
    icon: {
      src: Nightswatch.src,
      width: 32,
      height: 32,
      alt: "Nights watch icon",
    },
  },
  {
    name: "North",
    description: "The northern kingdom, nearly as big as the other 6 combined",
    icon: {
      src: Winterfell.src,
      width: 32,
      height: 32,
      alt: "Winterfell icon",
    },
  },
  {
    name: "Vale",
    description:
      "An area in the east almost completely surrounded by mountains",
    icon: {
      src: Eyrie.src,
      width: 32,
      height: 32,
      alt: "Eyrie icon",
    },
  },
  {
    name: "Iron Islands",
    description: "Group of isolated and rugged islands west of Westeros",
    icon: {
      src: Pyke.src,
      width: 32,
      height: 32,
      alt: "Pyke icon",
    },
  },
  {
    name: "Westerlands",
    description: "A rich kingdom west of the Riverlands",
    icon: {
      src: CasterlyRock.src,
      width: 32,
      height: 32,
      alt: "Casterly Rock icon",
    },
  },
  {
    name: "Crownlands",
    description: "Lands surrounding the capital of Kings Landing",
    icon: {
      src: RedKeep.src,
      width: 32,
      height: 32,
      alt: "Red Keep icon",
    },
  },
  {
    name: "Riverlands",
    description: "Centrally located, surrounded by several kingdoms",
    icon: {
      src: TheTwins.src,
      width: 32,
      height: 32,
      alt: "The Twins icon",
    },
  },
  {
    name: "Stormlands",
    description: "Lies between Kings Landing and the Sea of Dorne",
    icon: {
      src: Dragonstone.src,
      width: 32,
      height: 32,
      alt: "Dragonstone icon",
    },
  },
  {
    name: "Reach",
    description: "Covers the lower western half of Westeros",
    icon: {
      src: Highgarden.src,
      width: 32,
      height: 32,
      alt: "Highgarden icon",
    },
  },
  {
    name: "Beyond The Wall",
    description:
      "A mountainous, desolate and frozen terrain with lots of forests and populated with nomadic clans.",
    icon: {
      src: SummerHall.src,
      width: 32,
      height: 32,
      alt: "SummerHall icon",
    },
  },
];
---

<WikiLayout title='WesterosCraft Wiki'>
  <div>
    <h1>WesterosCraft Wiki</h1>
    <p>
      WesterosCraft is a fan-made project dedicated to recreating the fictional
      world of Westeros from George R.R. Martin's "A Song of Ice and Fire" book
      series, popularly known for its television adaptation "Game of Thrones."
      WesterosCraft is essentially a massive Minecraft server that aims to
      recreate the entire continent of Westeros in the game.
    </p>
    <p>
      The project started in 2011 and has since grown into an ambitious
      undertaking involving hundreds of dedicated builders and contributors.
      They meticulously recreate various locations, cities, castles, and
      landmarks from the books, striving for accuracy and attention to detail.
      The WesterosCraft team uses custom texture packs, mods, and tools to
      replicate the distinct architecture, geography, and atmosphere of
      Westeros.
    </p>
  </div>
  <div class='grid grid-cols-1 sm:grid-cols-2 gap-6 mt-12'>
    {
      featured.map((feature) => (
        <WikiCard title={feature.name} description={feature.description} />
      ))
    }
  </div>

  <h2>Locations by Region</h2>

  <div class='grid grid-cols-1 sm:grid-cols-2 gap-6 not-prose'>
    {
      regions
        .sort((a, b) => (a.name < b.name ? -1 : a.name > b.name ? 1 : 0))
        .map((region) => (
          <a href={`/wiki/locations/${slugify(region.name)}`}>
            <WikiCard
              className='h-full'
              title={region.name}
              description={region.description || ""}
              icon={region?.icon}
            />
          </a>
        ))
    }
  </div>

  <h2>Guides</h2>
</WikiLayout>
