---
import SiteHeader from "@components/site-header.astro";
import Footer from "@components/footer.astro";
import { getEntry } from "astro:content";
import PageSeo from "@components/page-seo.astro";
import { ViewTransitions } from "astro:transitions";

import "@fontsource/inter";

import "../styles/globals.css";

const navigation = await getEntry("pages", "mainNav");

const {
  title,
  description,
  ogTitle,
  ogType,
  ogImage,
  ogUrl,
  includeTransitions,
  ogImageAlt,
  twitterDescription,
} = Astro.props.frontmatter || Astro.props;
---

<html lang='en'>
  <head>
    <PageSeo
      title={title}
      description={description}
      ogTitle={ogTitle}
      ogType={ogType}
      ogImage={ogImage}
      ogUrl={ogUrl}
      ogImageAlt={ogImageAlt}
      twitterDescription={twitterDescription}
    />
    {includeTransitions && <ViewTransitions />}
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <!-- Google tag (gtag.js) -->
    <script
      async
      type='text/partytown'
      src='https://www.googletagmanager.com/gtag/js?id=G-CPK9RT9S9G'></script>
    <script type='text/partytown'>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CPK9RT9S9G");
    </script>
  </head>
  <body class='relative flex min-h-screen flex-col antialiased bg-primaryLight'>
    <SiteHeader navigation={navigation} />
    <slot />
    <Footer />
  </body>
</html>
