---
import WikiLayout from "@layouts/wiki.astro";
import { getCollection } from "astro:content";
import { slugify, camel2title } from "@lib/utils";

// interface Props extends Location {}

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs.map((doc) => {
    return {
      params: {
        category: slugify(camel2title(doc.data.docCategory)),
        slug: doc.slug,
      },
      props: {
        doc: { ...doc },
      },
    };
  });
}

const { doc } = Astro.props;
const { Content } = await doc?.render();
---

<WikiLayout
  title={`${doc?.data.title} - WesterosCraft`}
  ogTitle={`${doc?.data.title} - WesterosCraft`}
  description={doc?.data?.description}
  twitterDescription={doc?.data?.description}
>
  <h1>{doc?.data.title}</h1>
  <Content />
  <div class='flex justify-end mt-8 text-slate-500 not-prose'>
    <a
      target='_blank'
      href={`https://github.com/WesterosCraft/website/blob/develop/src/content/docs/${doc?.slug}/index.mdoc`}
    >
      <p class='text-xs'>Edit this page on Github</p>
    </a>
  </div>
</WikiLayout>
